.PageTitle{
    text-align: center;
    font-family: Helvetica-Oblique;
    margin-top: 2%;
    /* background-color: lightgray;
    border-radius: 5%;
    width: 50%; */
}
.logo{
    width: 50%;
}
.nav{
    background-color: lightgrey;
}
.card-container {
    display: flex; 
}
.CardImg {
    width: 100%;
    height: 200px; /* Set a specific height for the card images */
    object-fit: cover; /* Ensure the image covers the entire space */
}

.card-wrapper {
    flex: 0 0 calc(33.33% - 10px); 
    margin-right: 10px; 
}    

.card-wrapper:last-child {
    margin-right: 0; 
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-wrapper {
    flex: 0 0 calc(33.33% - 20px); 
    margin-bottom: 20px; 
}

@media screen and (max-width: 768px) {
    .card-wrapper {
        flex-basis: calc(50% - 20px); 
    }
}

  

.CardBody{
    margin-top: 12%;
    margin-left: 5%;
    padding: 2%;
}


.CardTitle {
    text-align: center;
    font-family: Helvetica-BoldOblique;
    font-size: 90%;
    font-weight:600;
    border: 2px solid black; 
  }
   

.Butt{
    background-color: lightgray;
    margin-left: 20%;
    height: 30%;
    width: 60%;
    margin-bottom: 10%;
    font-family: Helvetica-BoldOblique;
}
.Butt:hover {
    background-color:gray; 
}
  