.bmi-calculator {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .input-fields {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .input-fields label {
    flex: 1;
    margin-right: 10px;
  }
  
  input[type="number"] {
    width: 100%;
    padding: 5px;
  }
  
  button {
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
 
  
  .meal-plan-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .meal-plan-table th,
  .meal-plan-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  .meal-plan-table th {
    background-color: #f2f2f2;
  }
  