.navbar {
	background-color: #077A1B; /* Change background color */
  }
  
  .navbar-brand {
	color: #fff; /* Change brand text color */
	font-size: 1.5rem; /* Increase font size */
  }
  
  .nav-link {
	color: #fff !important; /* Change link text color */
	font-size: 1.2rem; /* Increase font size */
	margin-right: 20px; /* Add some spacing between links */
  }
  
  .nav-link:hover {
	color: #f8f9fa !important; /* Change link text color on hover */
  }
  
  .button1 {
	background-image: linear-gradient(to right, #3ca55c, #b5ac49);
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1.2rem; /* Increase font size */
	transition: background-color 0.3s; /* Add transition effect */
  }
  
  .button1:hover {
	background-image: linear-gradient(to right, #3ca55c, #71bf71);
  }
  