.input-group {
    position: relative;
}

.input-group .btn {
    position: absolute;
    top: -5px;
    
    right: 15px;
    height: 100%;
    border: none;
    
}
.clear-button:focus {
    outline: none;
    border: none;
}

