/* Add this CSS to your stylesheet or style component */

/* Style the container */
.containerForm {
    background-color: #f8f9fa;
    padding: 30px;
    border-radius: 10px;
  }

  .signup-form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  }
  .signup-form h2 {
    margin-bottom: 20px;
    color: #03974D;
  }
  .form-group {
    margin-bottom: 20px;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
  }
  
  
  .text-input:focus,
  .email-input:focus,
  .password-input:focus {
    border-color: #03974D;
  }
     
  
  
  .form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  
  /* .form-control {
    margin-bottom: 20px;
  } */
  
  /* Style form labels */
  .form-label {
    font-weight: bold;
  }
  
  /* Style the submit button */
  button[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #03974D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #027a3b;
  }
  
  /* Style the photo column */
  .photo-column {
    display: flex;
    align-items: center;
  }
  
  /* Style the user photo */
  .user-photo {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  }
  